@import "utilities/variables";

//the universal selector (*)
//ul elements
//p elements
//a elements

* {
  font-size:16px;
  font-family: $primary-font;
  line-height: 24px;
  box-sizing: border-box;
}

ul {
  list-style: none;
  text-align: center;
  padding-left: 0;
  @include mq(tablet) {
    display: flex;
    justify-content: flex-end;
  }
}

p {
  color: $text-color;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1.5em;
}

.centered {
  @extend %centered;
}
